@font-face {
font-family: 'ChunkFiveRegular';
src: url('fonts/chunkfive.eot');}
body{
	margin:10.4166667%;
	background-color: hsl(210, 46%, 95%);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 11.7px;
}
.main-box-left{
	display: inline-block;
	max-width: 74.5%;
}
.box{
	margin: 15px;
	padding: 2.7em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	display: inline-block;
	border-radius: 0.8em;

}
#box-type-1{
	background-color: hsl(263, 55%, 52%);
	color: white;
	display: inline-block;
	max-width: 63%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
	position: relative;
}
#box-type-2{
	background-color: hsl(217, 19%, 35%);
	color: white;
	max-width: 29%;
	display: inline-block;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
#box-type-3{
	max-width: 22%;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
#box-type-4{
	max-width: 30%;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
#box-type-5{
	background-color: hsl(219, 29%, 14%);
	color: white;
	display: inline-block;
	max-width: 62%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
img{
	border-radius: 50%;
	margin-right: 16px;
	width:2.7em;
	position: relative;
}
.svg {
	z-index : 0;
	position : absolute;
	right: 14.035%;
}
.name{
	font-weight: 600;
	position: relative;
}
.prof{
	opacity: 0.5;
	position: relative;
}
.highlight{
	font-size: 1.8em;
	font-weight:600;
	position: relative;
}
.quotation{
	opacity:0.7;
	position: relative;
}
@media screen and (max-width: 375px) {
	body{
		margin:6%;
	}
	.main-box-left,#box-type-1 ,#box-type-2,#box-type-3,#box-type-4,#box-type-5{
		max-width: 100%;
	}

}